body {
    font-family: sans-serif;
}
header {
    background-color: #E0FFFF;
}
a {
    text-decoration: none;
    color:black;
}
header a {
    border:3px solid #005e5e;
    border-radius: 8px;
    padding: 3px;
    background-color: white;
    margin: 4px;
}
h1 {
    color: #008080;
    font-size: 45px;
    text-align: center;
    background-color: #f1ffff;
}
footer {
    background-color: #005e5e;
    
}
nav {
    
    padding: 8px;
    background-color: #8FBC8F;
}

header, nav {
    background-color: #E0FFFF;
}
.prod {
    border: 3px solid #06e0e0;

}
nav a{
    padding: 3px;
    background-color: white;
    border: 3px solid #005e5e;
    border-radius: 6px;
    
}
footer p {
    border: 5px solid #005e5e;
    border-radius: 8px;
    padding: 5px;
    background-color: #008686;
    color: white;
}
.prodd {
    background-color: #008686;
    border: 5px dashed #004b4b;
    border-radius: 8px;
    color: white;
}
h2 {
    color: #008080;
    text-align: center;
}
main a {
    border: 3px solid #008080;
    border-radius: 8px;
    padding: 4px;
}
